/* HEADER ------------------------------------------------------------------------------------- */
h1 {
    height : 0%;
    text-align : center;
    position: static;
    margin: 0px 0px 78px 0px;
    text-decoration-style : double-circle;
    text-decoration-thickness : 4px;
    text-shadow : 0.5px 0.5px saddlebrown;
    color : rosybrown;
    font-size : 80pt;
    font-family : "trirong", serif;
    font-style : italic;
    font-weight : normal;
}

/* BACKGROUND ------------------------------------------------------------------------------------- */

body, html {
  scroll-behavior: smooth;
  background-color: rgb(244, 249, 249);
  height: 100vh;
  /*margin: 0;*/
  font-family: Arial, Helvetica, sans-serif;
}

/* background image sizing */
.bg-image {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-size: cover;

}

/* Images used */
.img1 { background-image: url("./assets/images/Marty.jpg"); background-position: center top;}
.img2 { background-image: url("./assets/images/marty-c52.jpg"); background-position: center;}
.img3 { background-image: url("./assets/images/marty-gtr.jpg"); background-position: 25% 50%; }


/* .vid1 { background-image: url("./assets/images/Bridgefest_gtr.MOV"); background-position: center; } */


/* MENU BUTTON ------------------------------------------------------------------------------------- */

/* style menu button */
.menuButton {
    position : absolute;
    top: 0rem;
    background-color : transparent;
    color : dimgrey;
    border-style : hidden;
    padding: 10px 10px 5px 10px;
    font-size: 70px;
    border: none;
    cursor: pointer;
    
}

/* change color of menu icon on hover */
.menuButton:hover {
    color:whitesmoke;
}


/* DROPDOWN ------------------------------------------------------------------------------------- */

/* container for positioning dropdown content */
.menu {
    position : absolute;
    top: 0rem;
    display: inline-block;
}

/* style dropdown (hidden by default) */
.menu-content {
     display: none;
     position: relative;
     top: 2em;
     left: -1em;
     text-align: left;
     font-size : 25px;
     background-color: transparent;
     min-width: 10px;
     z-index: 0;
     cursor: pointer;
     
}

/* style content of dropdown */
.menu-content a  {
     font-family : serif;
     color: dimgrey;
     padding: .5rem .5rem 1rem 0.5rem;
     text-decoration: none;
     display: block;
}

/* show first level dropdown on hover */
.menu:hover .menu-content {
    display:block;
}

/* change color of dropdown content on hover */
.menu-content a:hover, .dropdown-btn:hover, .hidden-dropdown-btn:hover {
    color:darkgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}

/* style text of second level dropdown button */
.dropdown-btn {
    font-family: serif;
    display: block;
    color: dimgrey;
    padding: .5rem .5rem 1rem 0.5rem;
    text-decoration: none;
    text-align: left;
    font-size : 25px;
    background-color: transparent;
    min-width: 175px;
    border:none;
    cursor : pointer;
}

.show {display:block;}

/* content of second level dropdown */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
} 

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-content {
  display: none;
  background-color: whitesmoke;
  padding-left: 8px;
}

/* Style the caret down icon */
.arrow_drop_down {
  float: right;
  float: middle;
  display: -webkit-inline-flexbox;
}

.hidden-dropdown-btn {
  font-family: serif;
  display: block;
  color: dimgrey;
  padding: .5rem .5rem 1rem 0.5rem;
  text-decoration: none;
  text-align: left;
  font-size : 25px;
  background-color: transparent;
  min-width: 175px;
  border:none;
  cursor : pointer;
}

.hidden-dropdown-content {
  display: none;
  background-color: whitesmoke;
  padding-left: 8px;
}

/* Add an active class to the active second level dropdown button */
.active {
  background-color: palevioletred;
  color: dimgrey;
}

.img1 {
  position: static;
}

.img2 {
  position: static;
}

.text-box {
  display: block;
  background-color: transparent;
  border: solid rgb(71, 68, 68);
  color: rgb(226, 109, 169);
  border-width: 8px;
  text-align: center;

  text-decoration-style : double-circle;
  text-decoration-thickness : 4px;
  text-shadow : 0.5px 0.5px rgb(113, 9, 43);

  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 40px;

  position: relative;
  bottom: 70%;
  height: 350px;
  width: 600px;

  margin: auto;
  padding: none;
}

.vid-box {
    display: block;
    background-color: transparent;
    border: solid rgb(71, 68, 68);
    border-width: 1px;
    text-align: center;
  
    text-decoration-style : double-circle;
    text-decoration-thickness : 4px;
    text-shadow : 0.5px 0.5px rgb(113, 9, 43);
  
    position: relative;
    bottom: 215%;
    height: 350px;
    width: 600px;
  
    margin: auto;
    padding: none;
}


/* CHANGE CONTENT FOR Mobile --------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */

@media (width <= 414px) {
  /* HEADER ------------------------------------------------------------------------------------- */
h1 {
  height : 0%;
  text-align : center;
  position: static;
  margin: 0px 0px -10px 0px;
  text-decoration-style : double-circle;
  text-decoration-thickness : 4px;
  text-shadow : 0.5px 0.5px saddlebrown;
  color : rosybrown;
  font-size : 35pt;
  font-family : "trirong", serif;
  font-style : italic;
  font-weight : normal;
}

/* BACKGROUND ------------------------------------------------------------------------------------- */

body, html {
scroll-behavior: smooth;
background-color: rgb(244, 249, 249);
height: 100vh;
/*margin: 0;*/
font-family: Arial, Helvetica, sans-serif;
}

/* background image sizing */
.bg-image {
/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-size: cover;
}

/* Images used */
.img1 { background-image: url("./assets/images/Marty.jpg"); background-position: center top;}
.img2 { background-image: url("./assets/images/marty-gtr.jpg"); background-position: center; }
/*.img3 { background-image: url("./assets/images/marty-c52.jpg"); background-position: center top;}
.img4 { background-image: url("./assets/images/pip-porch.jpg"); background-position: center;}*/


/* MENU BUTTON ------------------------------------------------------------------------------------- */

/* style menu button */
.menuButton {
  position : absolute;
  top: 0rem;
  background-color : transparent;
  color : dimgrey;
  border-style : hidden;
  padding: 10px 10px 5px 10px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

/* change color of menu icon on hover */
.menuButton:hover {
  color:whitesmoke;
}


/* DROPDOWN ------------------------------------------------------------------------------------- */

/* container for positioning dropdown content */
.menu {
  position : absolute;
  top: 0rem;
  display: inline-block;
}

/* style dropdown (hidden by default) */
.menu-content {
   display: none;
   position: relative;
   top: 2em;
   left: -1em;
   text-align: left;
   font-size : 20px;
   background-color: transparent;
   min-width: 10px;
   z-index: 0;
   cursor: pointer;
}

/* style content of dropdown */
.menu-content a  {
   font-family : serif;
   color: dimgrey;
   padding: .5rem .5rem 1rem 0.5rem;
   text-decoration: none;
   display: block;
}

/* show first level dropdown on hover */
.menu:hover .menu-content {
  display:block;
}

/* change color of dropdown content on hover */
.menu-content a:hover, .dropdown-btn:hover, .hidden-dropdown-btn:hover {
  color:darkgray;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}

/* style text of second level dropdown button */
.dropdown-btn {
  font-family: serif;
  display: block;
  color: dimgrey;
  padding: .5rem .5rem 1rem 0.5rem;
  text-decoration: none;
  text-align: left;
  font-size : 20px;
  background-color: transparent;
  min-width: 175px;
  border:none;
  cursor : pointer;
}

.show {display:block;}

/* content of second level dropdown */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 10px; /* Increased text to enable scrolling */
padding: 0px 10px;
} 

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-content {
display: none;
background-color: whitesmoke;
padding-left: 8px;
}

/* Style the caret down icon */
.arrow_drop_down {
float: right;
float: middle;
display: -webkit-inline-flexbox;
}

.hidden-dropdown-btn {
font-family: serif;
display: block;
color: dimgrey;
padding: .5rem .5rem 1rem 0.5rem;
text-decoration: none;
text-align: left;
font-size : 20px;
background-color: transparent;
min-width: 175px;
border:none;
cursor : pointer;
}

.hidden-dropdown-content {
display: none;
background-color: whitesmoke;
padding-left: 8px;
}

/* Add an active class to the active second level dropdown button */
.active {
background-color: palevioletred;
color: dimgrey;
}

.img1 {
position: static;
}

.img2 {
position: static;
}

.text-box {
display: block;
background-color: transparent;
border: solid rgb(71, 68, 68);
color: rgb(239, 98, 145);
border-width: 4px;
text-align: center;

text-decoration-style : double-circle;
text-decoration-thickness : 4px;
text-shadow : 0.5px 0.5px rgb(0, 0, 0);

font-family:'Times New Roman', Times, serif;
font-weight: lighter;
font-size: 20px;

position: relative;
bottom: 70%;
height: 300px;
width: 250px;

margin: auto;
padding: none;
}
}

/* CHANGE CONTENT FOR Tablet ------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */


@media (width <= 768px) {
  /* HEADER ------------------------------------------------------------------------------------- */
h1 {
  height : 0%;
  text-align : center;
  position: static;
  margin: 0px 0px -10px 0px;
  text-decoration-style : double-circle;
  text-decoration-thickness : 4px;
  text-shadow : 0.5px 0.5px saddlebrown;
  color : rosybrown;
  font-size : 60pt;
  font-family : "trirong", serif;
  font-style : italic;
  font-weight : normal;
}

/* BACKGROUND ------------------------------------------------------------------------------------- */

body, html {
scroll-behavior: smooth;
background-color: rgb(244, 249, 249);
height: 100vh;
/*margin: 0;*/
font-family: Arial, Helvetica, sans-serif;
}

/* background image sizing */
.bg-image {
/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-size: cover;
}

/* Images used */
.img1 { background-image: url("./assets/images/Marty.jpg"); background-position: center top;}
.img2 { background-image: url("./assets/images/marty-gtr.jpg"); background-position: center; }
/*.img3 { background-image: url("./assets/images/marty-c52.jpg"); background-position: center top;}
.img4 { background-image: url("./assets/images/pip-porch.jpg"); background-position: center;}*/


/* MENU BUTTON ------------------------------------------------------------------------------------- */

/* style menu button */
.menuButton {
  position : absolute;
  top: 0rem;
  background-color : transparent;
  color : dimgrey;
  border-style : hidden;
  padding: 10px 10px 5px 10px;
  font-size: 50px;
  border: none;
  cursor: pointer;
}

/* change color of menu icon on hover */
.menuButton:hover {
  color:whitesmoke;
}


/* DROPDOWN ------------------------------------------------------------------------------------- */

/* container for positioning dropdown content */
.menu {
  position : absolute;
  top: 0rem;
  display: inline-block;
}

/* style dropdown (hidden by default) */
.menu-content {
   display: none;
   position: relative;
   top: 2em;
   left: -1em;
   text-align: left;
   font-size : 20px;
   background-color: transparent;
   min-width: 10px;
   z-index: 0;
   cursor: pointer;
}

/* style content of dropdown */
.menu-content a  {
   font-family : serif;
   color: dimgrey;
   padding: .5rem .5rem 1rem 0.5rem;
   text-decoration: none;
   display: block;
}

/* show first level dropdown on hover */
.menu:hover .menu-content {
  display:block;
}

/* change color of dropdown content on hover */
.menu-content a:hover, .dropdown-btn:hover, .hidden-dropdown-btn:hover {
  color:darkgray;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}

/* style text of second level dropdown button */
.dropdown-btn {
  font-family: serif;
  display: block;
  color: dimgrey;
  padding: .5rem .5rem 1rem 0.5rem;
  text-decoration: none;
  text-align: left;
  font-size : 20px;
  background-color: transparent;
  min-width: 175px;
  border:none;
  cursor : pointer;
}

.show {display:block;}

/* content of second level dropdown */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 10px; /* Increased text to enable scrolling */
padding: 0px 10px;
} 

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-content {
display: none;
background-color: whitesmoke;
padding-left: 8px;
}

/* Style the caret down icon */
.arrow_drop_down {
float: right;
float: middle;
display: -webkit-inline-flexbox;
}

.hidden-dropdown-btn {
font-family: serif;
display: block;
color: dimgrey;
padding: .5rem .5rem 1rem 0.5rem;
text-decoration: none;
text-align: left;
font-size : 20px;
background-color: transparent;
min-width: 175px;
border:none;
cursor : pointer;
}

.hidden-dropdown-content {
display: none;
background-color: whitesmoke;
padding-left: 8px;
}

/* Add an active class to the active second level dropdown button */
.active {
background-color: palevioletred;
color: dimgrey;
}

.img1 {
position: static;
}

.img2 {
position: static;
}

.text-box {
display: block;
background-color: transparent;
border: solid rgb(54, 52, 52);
color: rgb(239, 98, 145);
border-width: 4px;
text-align: center;

text-decoration-style : double-circle;
text-decoration-thickness : 4px;
text-shadow : 0.5px 0.5px rgb(0, 0, 0);

font-family:'Times New Roman', Times, serif;
font-weight: lighter;
font-size: 25px;

position: relative;
bottom: 70%;
height: 375px;
width: 350px;

margin: auto;
padding: none;
}
}

/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------- */

