.text-box {
  display: block;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(226, 109, 169);
  border-width: 4px;
  border-color: transparent;
  text-align: center;
  
  text-decoration-style : double-circle;
  text-decoration-thickness : 4px;
  text-shadow : 0.7px 0.7px rgb(113, 9, 43);
  
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 20px;
  
  position: absolute;
  height: 25%;
  width: 100%;
  left: 0%;
  top: 184%;
  
  margin: auto;
  padding: none;
  }
  
  .vid-box {
    display: block;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
  
    position: absolute;
    height: 50%;
    width: 90%;
    margin: -5px -5px 5px -5px;
    top: 132%;
  
  }
  
  .soundcloud-box {
    display: block;
    background-color: transparent;
    border: solid rgb(0, 0, 0);
    border-width: 3px;
    border-color: transparent;

  
    position: absolute;
    height: 100%;
    width: 90%;
    margin: -5px -5px -5px -5px;
    top: 83%;
  
    padding: 7px;
  }.text-box {
  display: block;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(226, 109, 169);
  border-width: 4px;
  border-color: transparent;
  text-align: center;
  
  text-decoration-style : double-circle;
  text-decoration-thickness : 4px;
  text-shadow : 0.7px 0.7px rgb(113, 9, 43);
  
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 20px;
  
  position: absolute;
  height: 25%;
  width: 100%;
  left: 0%;
  top: 184%;
  
  margin: auto;
  padding: none;
  }
  
  .vid-box {
    display: block;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
  
    position: absolute;
    height: 50%;
    width: 90%;
    margin: -5px -5px 5px -5px;
    top: 132%;
  
  }
  
  .soundcloud-box {
    display: block;
    background-color: transparent;
    border: solid rgb(0, 0, 0);
    border-width: 3px;
    border-color: transparent;

  
    position: absolute;
    height: 100%;
    width: 90%;
    margin: -5px -5px -5px -5px;
    top: 83%;
  
    padding: 7px;
  }
